## **TIPOS DE DATOS**

### <font color='steelblue'>Contenidos:</font>
1. Tipos de datos en Python
1. Datos enteros, decimales y nulos
1. Datos booleanos
1. Listas
1. Tuplas y colecciones
1. Diccionarios
1. Cadenas de texto

## <font color='steelblue'>1. Tipos de datos en Python

Como en cualquier lenguaje de programación, una de las primeras cosas que hemos de conocer, es con qué tipo de datos podemos trabajar. Los tipos de datos más comunes utilizados en *Python* se muestran en la siguiente tabla:


| Tipo de dato         | Identificador  | Clase  | Descripción                                   | Ejemplo                                    |
| :-------------------- | :--------- | :------------- | :-------------------------------------------- | :----------------------------------------- |
| número entero               | `int`      | numérico   | números enteros positivos o negativos              | `24`                                       |
| número decimal | `float`    | numérico   | número real en forma decimal                   | `5.4325`                                  |
| booleano               | `bool`     | booleano | true o false                                 | `True`                                     |
| cadena de texto                | `str`      | secuencia  | texto                                          | `"¿Cómo estás?"`                 |
| lista                  | `list`     | secuencia  | colección de objetos mutables y ordenados   | `['UMH', 'UA', 'UV']`               |
| tupla                 | `tuple`    | secuencia  | colección de objetos inmutables y ordenados | `('Thursday', 6, 9, 2018)`                 |
| diccionario            | `dict`     | mapeo   | asignación de pares clave-valor                    | `{'nombre':'Estadística', 'código':511, 'créditos':6}` |
|  objeto nulo      | `NoneType` |  ninguno  | no representa ningún valor                           | `None`                                     |

Cuando tenemos un objeto y queremos identificar de qué tipo es, basta con utilizar la función `type()`

> type(objeto)

## <font color='steelblue'> 2. Datos enteros, decimales y nulos </font>

En este apartado vamos a aprender algo más sobre cómo reconocer y operar datos con valores de tipo numérico y sin valor, esto es, con los números enteros, decimales y con los objetos nulos.

### <font color='steelblue'>Números enteros

Los números enteros, identificados por el símbolo $\mathbb Z$, son aquellos que van desde $-\infty$ hasta $+\infty$ y no tienen decimales.

A continuación, creamos una variable de tipo entero e identificamos su tipo con la función `type()`.  Los datos enteros se reconocen en Python con el identificador `int`.

In [ ]:
a = 5
print(a)
print(type(a))

5
<class 'int'>

### <font color='steelblue'>Números decimales

Los números decimales o números reales, identificados por el símbolo $\mathbb R$ se reconocen en Python con el tipo `float` y son todos aquellos que se encuentran entre $-\infty$ y $+\infty$ y tienen un punto decimal, con decimales tras él.

A continuación creamos una variable con un número decimal e identificamos su tipo.

In [ ]:
e = 2.71828
print(e)
print(type(e))

2.71828
<class 'float'>

Un número entero con un punto decimal se interpretará como decimal.

In [ ]:
d = 5.
print(type(d))

<class 'float'>

### <font color='steelblue'>El tipo tras realizar cálculos

Las operaciones básicas con este tipo de datos numéricos ya se trabajaron en el cuaderno  anterior ([20. Manipulación de números y textos](https://colab.research.google.com/drive/1VZhdQgHZuG0mQysoy-ukNSo1gX65VC5N#scrollTo=-qIZVpUq-z8f)). Aquí nos centraremos en revisar cómo cambia el tipo de estos datos cuando hacemos operaciones con ellos.

- Las sumas, las restas y las multiplicaciones con números enteros siempre darán un resultado de tipo entero `int`.

In [ ]:
a = 2
b = 3
print('La suma a+b=',a+b, 'es de tipo' ,type(a+b))
print('La resta a-b=',a-b, 'es de tipo' ,type(a-b))
print('La multiplicación a*b=',a*b, 'es de tipo' ,type(a*b))

La suma a+b= 5 es de tipo <class 'int'>
La resta a-b= -1 es de tipo <class 'int'>
La multiplicación a*b= 6 es de tipo <class 'int'>

- Las divisiones de números enteros siempre darán resultados de tipo decimal, aunque el decimal del resultado sea 0.

In [ ]:
a = 2
b = 4
print('El cociente a/b=',a/b, 'es de tipo' ,type(a / b))
print('El cociente b/a=',b/a, 'es de tipo' ,type(b/a))

El cociente a/b= 0.5 es de tipo <class 'float'>
El cociente b/a= 2.0 es de tipo <class 'float'>

Con todo, siempre podemos convertir a entero un número decimal (redondeando) o convertir a decimal un número entero. Estas dos operaciones las realizamos respectivamente con las funciones `int()` y `float()`. Veamos un ejemplo.

In [ ]:
a = 2.34 # decimal
b=int(a) # entero
print('El número',a,'de tipo',type(a),'lo convertimos a tipo',type(b),':',b)
print('El número',b,'de tipo',type(b),'lo convertimos a tipo',type(float(b)),':',float(b))

El número 2.34 de tipo <class 'float'> lo convertimos a tipo <class 'int'> : 2
El número 2 de tipo <class 'int'> lo convertimos a tipo <class 'float'> : 2.0

- Y por supuesto, las operaciones con decimales siempre darán decimales.

In [ ]:
a=1.2
b=3.4
print('El cociente de dos decimales es',type(a/b))

El cociente de dos decimales es <class 'float'>

### <font color='steelblue'>Objeto nulo

Un objeto nulo es un tipo de objeto propio de *Python* cuyo valor es: `None`, o lo que es lo mismo, se trata de un objeto sin valor. Se reconoce con el tipo `NoneType`. En otros cuadernos veremos para qué podemos utilizarlo.

In [ ]:
a = None
print(a)
print(type(a))

None
<class 'NoneType'>

## <font color='steelblue'>3. Datos booleanos

Una variable booleana sólo tiene dos valores posibles: `True` y `False` y se reconoce con tipo `bool` en Python. Este tipo de variables nos resultan útiles cuando trabajamos con condiciones y bucles.

Vemos un par de ejemplos a continuación.

In [ ]:
la_verdad = True
print(f'La verdad es {la_verdad} y es de tipo {type(la_verdad)}')
la_mentira = False
print(f'La mentira es {la_mentira} y es de tipo {type(la_mentira)}')

La verdad es True y es de tipo <class 'bool'>
La mentira es False y es de tipo <class 'bool'>

## <font color='steelblue'>4. Listas

Una lista es un objeto que contiene diversos elementos que pueden ser de distintos tipos. Podríamos construir una lista en la que todos los elementos son numéros, de modo que asimilaríamos entonces una lista a un vector, tal y como lo entendemos en matemáticas. Pero también podemos crear listas en las que unos elementos sean numéricos, otros sean cadenas, otros objetos sean booleanos o nulos, o incluso en las que alguno de los elementos fuera asimismo otra lista.

Para crear una lista basta escribir sus elementos entre corchetes `[ele1 ,ele2, ...]`, separados entre sí por comas.

Veamos algunos ejemplos.

In [ ]:
# una lista con todos sus elementos numéricos: un vector
lista_vector=[4,5,6]
print(f'Este vector {lista_vector} es de tipo {type(lista_vector)}')

# una lista con elementos de distintos tipos:
mi_lista = [1, 2, "tres", None, False, lista_vector]
print('Esto ',mi_lista,'es una',type(mi_lista))

Este vector [4, 5, 6] es de tipo <class 'list'>
Esto  [1, 2, 'tres', None, False, [4, 5, 6]] es una <class 'list'>

Podemos también crear una lista vacía, sin elementos, para luego rellenarla. Esto lo podemos hacer de dos modos, con `list()` y `[]`.

In [ ]:
lista_vacia=list()
print(lista_vacia)
lista_vacia=[]
print(lista_vacia)

[]
[]

La función `len()` nos devuelve la longitud de una lista.

In [ ]:
mi_lista = [1, 2, "tres", None, False, [4, 5, 6]]
len(mi_lista)

6

Veamos a continuación diferentes manipulaciones y funciones que podemos aplicar a las listas, que nos serán muy útiles en el futuro próximo.

Puesto que estamos familiarizándonos con el modo de programar en Python, ve fijándote en que para aplicar una función predefinida a un objeto como una lista, escribimos su nombre, a continuación un punto `.` y a continuación la función, generalmente acabada en doble paréntesis `()`.

> `nombre_lista.funcion()

### <font color='steelblue'>Indexar</font>

Cuando queremos acceder a un elemento de una lista, basta utilizar su índice de referencia, el que indica qué posición ocupa en la lista, y utilizar los corchetes para extraerlo, al igual que hacíamos con las cadenas de caracteres en el cuaderno anterior.

El indexado en las listas funciona de modo similar al indexado que ya estudiamos en cadenas de caracteres, empezando en el cero y ascendente de izquierda a derecha, y empezando en el -1 y descendente de derecha a izquierda. Si al querer acceder a un elemento de una lista, si escribimos un índice que está fuera de rango, nos dará error.

In [ ]:
mi_lista = [1, 2, "tres", None, False, [4, 5, 6]]
# Seleccionamos el primer elemento
print(mi_lista[0])
# seleccionamos el último elemento
print(mi_lista[-1])

1
[4, 5, 6]

Utilizando el indexado, podemos seccionar una lista para extraer ciertos elementos.

In [ ]:
# extraemos los elementos en las posiciones 1 y 2
print(mi_lista[1:3])

[2, 'tres']

### <font color='steelblue'>Modificar</font>

Para modificar el valor de un elemento, o incluso de varios elementos, simplemente hemos de seleccionarlos y asignar los nuevos valores.

In [ ]:
mi_lista = [1,2,3,4]
print(mi_lista)
# modificamos el primer elemento
mi_lista[0] = "uno"
print(mi_lista)
# modificamos los elementos 2 y 3 (índices 1 y 2)
mi_lista[1:3]=['dos','tres']
print(mi_lista)

[1, 2, 3, 4]
['uno', 2, 3, 4]
['uno', 'dos', 'tres', 4]

**Nota:** Cuidado porque esto que acabamos de ver posible en las listas **NO** se puede aplicar sobre las cadenas de texto.  

Por ejemplo: si escribimos mal *Python*, habrá que escribir de nuevo la variable, y no intentar cambiar la letra errónea.

```markdown
nombre = "Pyrhon"
nombre[2] = "t" # ¡Esto no funciona!
nombre = "Python"
```

### <font color='steelblue'>Anexar

Podemos añadir nuevos elementos a una lista gracias a la función `append()`, pero siempre de uno en uno. El elemento a anexar lo habremos de incluir como argumento de la función y esta lo ubica a continuación del último elemento de la lista. La lista queda pues modificada, con este elemento añadido.

In [ ]:
mi_lista = [1,2]
print(mi_lista)
# añadimos el valor 3
mi_lista.append(3)
print(mi_lista)
# añadimos un vector con 2 elementos
mi_lista.append([4,5])
print(mi_lista)

[1, 2]
[1, 2, 3]
[1, 2, 3, [4, 5]]

Si queremos añadir más de un elemento, lo tendremos que hacer con el operador `+`, concatenando listas. Podemos concatenar varias listas para generar una nueva lista con otro nombre, o podemos utilizar el operador `+=`  para concatenar una segunda lista a la lista original. Veamos cómo funciona con un par de ejemplos.

In [ ]:
#  creamos dos listas
lista_1 = ["Hola", "Adiós", "Felipe"]
lista_2 = [1, 2, True]
# las concatenamos en una nueva lista
mi_lista = lista_1 + lista_2
print(mi_lista)
# ahora anexamos la lista2 a la lista1, modificando la lista1
lista_1 += lista_2
print(lista_1)

['Hola', 'Adiós', 'Felipe', 1, 2, True]
['Hola', 'Adiós', 'Felipe', 1, 2, True]

### <font color='steelblue'>Eliminar </font>

A veces necesitaremos prescindir de algún elemento de una lista y borrarlo de la lista original. Para ello utilizaremos la función `remove()`, indicando como argumento el valor que queremos eliminar.

In [ ]:
mi_lista = ["Hola", 2, [3, 4], "No"]
print(mi_lista)
# queremos eliminar el elemento "No"
mi_lista.remove("No")
print(mi_lista)

['Hola', 2, [3, 4], 'No']
['Hola', 2, [3, 4]]

Otra opción para eliminar elementos de una lista es utilizar la función `del` , escribiendo a continuación la lista con los elementos, esta vez indexados, que queremos eliminar.

In [ ]:
mi_lista = ["Hola", 2, [3, 4], "No"]
print(mi_lista)
# queremos eliminar los elementos indexados en las posiciones 0 y 1
del mi_lista[0:2]
print(mi_lista)

['Hola', 2, [3, 4], 'No']
[[3, 4], 'No']

### <font color='steelblue'>Ordenar </font>

Si todos los elementos de una lista son del mismo tipo, todos cadenas o todos números, podemos ordenar sus elementos, en orden alfabético para las cadenas y numérico para los números, con la función `sort()`.

In [ ]:
# partimos de una cadena de texto
frase = "El ignorante afirma, el sabio duda y reflexiona."
# la seccionamos por palabras
palabras = frase.split()
print(palabras)
# ordenamos las palabras por orden alfabético
palabras.sort()
print(palabras)

['El', 'ignorante', 'afirma,', 'el', 'sabio', 'duda', 'y', 'reflexiona.']
['El', 'afirma,', 'duda', 'el', 'ignorante', 'reflexiona.', 'sabio', 'y']

Recordemos que en el orden alfabético, las mayúsculas anteceden a todas las minúsculas.

In [ ]:
# ahora ordenamos una lista numérica
numeros=[10,2,30,4,50]
numeros.sort()
print(numeros)

[2, 4, 10, 30, 50]

### <font color='steelblue'>Anidar </font>

Ya comentamos antes que una lista podría tener elementos que a su vez fueran listas. Tenemos entonces listas anidadas.

Si queremos acceder a un elemento concreto de una lista anidada, lo tenemos que hacer con dos pares de corchetes `[..][..]`, de modo que en el primero especicamos el índice de la lista original que alude al elemento en el que se ubica la lista anidada a la que queremos acceder, y en el segundo corchete el índice del elemento buscado dentro de la sublista o lista anidada. Seguro que con un ejemplo lo entiendes a la primera.

In [ ]:
# tenemos tres listas anidadas en mi_lista
mi_lista = [[1,2,3], [4,5,6], [7,8,9]]
# queremos acceder a un elemento de la primera lista anidada
print(mi_lista[0])
# que es el que está indexado con un 1 (el segundo elemento)
print(mi_lista[0][1])

[1, 2, 3]
2

## <font color='steelblue'>5. Tuplas y colecciones </font>

Descubramos a continuación las funcionalidades de las tuplas y los sets en Python.

### <font color='steelblue'>Tuplas

En ocasiones cuando se trabaja con datos y programación, interesa definir listas cuyos elementos no puedan ser modificados o eliminados. En esas circunstancias es recomendable utilizar **tuplas** en lugar de listas.

Las tuplas se utilizan, igual que las listas, para almacenar varios elementos en un objeto o variable. Para crearlas podemos utilizar directamente los paréntesis `()` y separando los elementos a incluir por comas, `(elemento1,elemento2,...)`, o con el comando  `tuple()`, pero en esta ocasión integrando como argumento la lista que queremos convertir en tupla. Si queremos crear una tupla vacía, sin elementos, no incluimos argumentos.

Al igual que las listas, la longitud de una tupla la obtenemos con la función `len()`.

Veamos algunos ejemplos.

In [ ]:
# definimos una tupla vacía
tupla_vacia=tuple()
print(tupla_vacia)
tupla_vacia=()
print(tupla_vacia)

()
()

In [ ]:
# definimos una tupla directamente con paréntesis
recintos = ("Elche", "Sant Joan", "Altea", "Orihuela")
print(recintos)
print(len(recintos))
print(type(recintos))

('Elche', 'Sant Joan', 'Altea', 'Orihuela')
4
<class 'tuple'>

In [ ]:
# o la definimos a partir de una lista
sedes = ["Elche", "Sant Joan", "Altea", "Orihuela"]
print(f'Esto {sedes} es una {type(sedes)}')
# y la convertimos en tupla
sedes_tupla = tuple(sedes)
print(f'Esto {sedes_tupla} es una {type(sedes_tupla)}')

Esto ['Elche', 'Sant Joan', 'Altea', 'Orihuela'] es una <class 'list'>
Esto ('Elche', 'Sant Joan', 'Altea', 'Orihuela') es una <class 'tuple'>

Al igual que para las listas, podemos recorrer las tuplas a través de sus índices y con el corchete, para localizar sus elementos.

In [ ]:
print(recintos[0])
print(recintos[1:])

Elche
('Sant Joan', 'Altea', 'Orihuela')

Sin embargo, como hemos dicho, las tuplas son inmutables. Por lo que el siguiente código generará un error:

```markdown
recintos[3] = "Salesas"
recintos.append("Salesas")
```

### <font color='steelblue'>Sets </font>

Los sets o colecciones se utilizan también para almacenar distintos elementos en un solo objeto o variable. Para crearlos se incluyen entre llaves `{}` los elementos, separados por comas, `{elemento1,elemento2,...}`. Si queremos crear una colección vacía utilizamos simplemente `set()` sin argumentos.

In [ ]:
# una colección vacía
set_vacia=set()
print(set_vacia)

set()

In [ ]:
# una colección de cadenas de texto
recintos_set = {"Elche", "Sant Joan", "Altea"}
print(f'Esto {recintos_set} es de tipo {type(recintos_set)}')

Esto {'Altea', 'Sant Joan', 'Elche'} es de tipo <class 'set'>

Al igual que las tuplas, sus elementos son inmutables, no están ordenados y no están indexados.
Sin embargo, en una colección, a diferencia de las tuplas, sí podemos añadir o eliminar elementos, con las funciones `add()` y `remove()` respectivamente.

In [ ]:
# añadimos un elemento
recintos_set.add("Orihuela")
print(recintos_set)
# borramos el mismo elemento
recintos_set.remove("Orihuela")
print(recintos_set)

{'Altea', 'Sant Joan', 'Orihuela', 'Elche'}
{'Altea', 'Sant Joan', 'Elche'}

Observamos que al volcar en pantalla el contenido del set, no se mantiene el orden original en que introdujimos los elementos.

Cuando queremos eliminar elementos en un set o colección, además de la función `remove()`, podemos utilizar:

* `discard()`, que elimina un elemento concreto
* `clear()`, que vacía la colección eliminando todos sus elementos

In [ ]:
recintos_set.discard("Altea")
print(recintos_set)
recintos_set.clear()
print(recintos_set)

{'Sant Joan', 'Elche'}
set()

Si comparamos dos sets con los mismos elementos, aunque estén introducidos en diferente orden, obtendremos un resultado de que son iguales

In [ ]:
{1, 2, 3} == {3, 1, 2}

True

## <font color='steelblue'>6. Diccionarios </font>

Podríamos definir un diccionario como un objeto que almacena distintos elementos y sus etiquetas. La analogía con un diccionario al uso es directa: un término tiene asociado un significado; el término actúa pues, como etiqueta del significado que representa.


Los diccionarios se definen con llaves `{}`, y entre ellas y separados por comas, ubicamos sus elementos. Cada uno de estos elementos se conforma de una etiqueta o clave (*key*), seguida de dos puntos, `:` y seguida de su valor (*value*), `{'etiqueta1' : valor1, 'etiqueta2' : valor2, ...}`. Las etiquetas siempre irán entrecomilladas, y los valores sólo si son cadenas de texto. Los valores pueden ser de cualquier tipo.

Si queremos crear un diccionario vacío para rellenarlo posteriormente con elementos, basta utilizar las llaves `{}` o `dict()` sin argumentos.

Su longitud se obtiene con la función `len()`.

Veamos diversos ejemplos de diccionarios.

In [ ]:
# un diccionario vacío
diccionario_vacio=dict()
print(diccionario_vacio)
diccionario_vacio={}
print(diccionario_vacio)

{}
{}

In [ ]:
# un diccionario en que los valores son cadenas de texto
mi_diccionario = {"ciencia": "estudio sistemático del mundo natural",
                  "célula": "unidad más pequeña de materia viviente",
                  "elemento": "sustancia que no puede ser dividida en una sustancia más simple"}
print(mi_diccionario)
print(len(mi_diccionario))

{'ciencia': 'estudio sistemático del mundo natural', 'célula': 'unidad más pequeña de materia viviente', 'elemento': 'sustancia que no puede ser dividida en una sustancia más simple'}
3

In [ ]:
# un diccionario en que los valores son números
asignaturas = {
    "Bioquímica I": 9,
    "Anotomía Humana I": 8.5,
    "Histología": 9.3
}
print(asignaturas)

{'Bioquímica I': 9, 'Anotomía Humana I': 8.5, 'Histología': 9.3}

Una vez definido un diccionario, podemos acceder a sus etiquetas o claves con la función `keys()`, así como a los valores que contienen, con la función `values()`.

In [ ]:
# visualizamos sólo las etiquetas o claves
print(asignaturas.keys())
# visualizamos sólo los valores
print(asignaturas.values())

dict_keys(['Bioquímica I', 'Anotomía Humana I', 'Histología'])
dict_values([9, 8.5, 9.3])

### <font color='steelblue'>Indexar </font>

Las claves o etiquetas de los elementos de un diccionario se utilizan para la indexación de sus elementos. Así, si queremos acceder a un elemento del diccionario, utilizamos los corchetes y la etiqueta entrecomillada de dicho elemento.

In [ ]:
# seleccionamos el valor del elemento etiquetado como 'ciencia'
descripcion1 = mi_diccionario["ciencia"]
print(descripcion1)

estudio sistemático del mundo natural

### <font color='steelblue'>Modificar </font>

Los diccionarios son mutables, esto es, podemos cambiar, eliminar o añadir elementos.

- Para cambiar el valor de algún elemento, sólo tenemos que acceder al mismo a través de su etiqueta.
- Para añadir un elemento basta con especificar una nueva etiqueta y asignarle un valor.
- Para borrar un elemento, utilizamos la función `del`.

In [ ]:
# modificamos el valor del elemento etiquetado como 'ciencia'
mi_diccionario["ciencia"] = "descripción"
print(mi_diccionario)
# borramos el elemento etiquetado como 'ciencia'
del mi_diccionario["ciencia"]
print(mi_diccionario)
# añadimos un nuevo elemento
mi_diccionario["tecnica"] = "habilidad para ejecutar cualquier cosa"
print(mi_diccionario)

{'ciencia': 'descripción', 'célula': 'unidad más pequeña de materia viviente', 'elemento': 'sustancia que no puede ser dividida en una sustancia más simple'}
{'célula': 'unidad más pequeña de materia viviente', 'elemento': 'sustancia que no puede ser dividida en una sustancia más simple'}
{'célula': 'unidad más pequeña de materia viviente', 'elemento': 'sustancia que no puede ser dividida en una sustancia más simple', 'tecnica': 'habilidad para ejecutar cualquier cosa'}

### <font color='steelblue'>Eliminar

Al igual que los sets, los diccionarios también pueden vaciarse con la función `clear()`.

In [ ]:
asignaturas.clear()
print(asignaturas)

{}

## <font color='steelblue'>7. Cadenas de texto </font>

Las cadenas de texto (*string*) son de tipo `str`, y si bien ya las presentamos en el cuaderno anterior, aquí proponemos funciones que seguro te resultarán útiles en el futuro próximo.

In [ ]:
nombre = 'Felipe'
print(nombre)
print(type(nombre))

Felipe
<class 'str'>

### <font color='steelblue'>Separar palabras</font>

Una aplicación interesante cuando analizamos textos, puede ser separar todas las palabras que contiene y aislar sus elementos. Esto lo podemos hacer aplicando la función `split()` a una cadena de texto, y utilizando como argumento `sep= `, con el fin de que reconozca los espacios como separadores de las palabras. El resultado será una lista en la que los elementos son cada una de las palabras de la cadena de texto.

In [ ]:
frase = "El nombre de Python se deriva de la serie de televisión Monty Python's Flying Circus."
palabras = frase.split()
# mostramos el nuevo objeto (lista) con las palabras como elementos
print(palabras)
# y mostramos de qué tipo es el objeto 'palabras'
print(type(palabras))

['El', 'nombre', 'de', 'Python', 'se', 'deriva', 'de', 'la', 'serie', 'de', 'televisión', 'Monty', "Python's", 'Flying', 'Circus.']
<class 'list'>

Si en lugar de separar palabras queremos fragmentar la cadena cada vez que se encuentre con un determinado carácter, bastará indicar dicho carácter entrecomillado en el argumento `sep='carácter_separador'`.

In [ ]:
frase = "El que sólo sabe medicina, ni medicina sabe."
# Fragmentamos esta frase con las comas que contenga
palabras = frase.split(sep=',')
print(palabras)

['El que sólo sabe medicina', ' ni medicina sabe.']

### <font color='steelblue'>Mayúsculas y minúsculas </font>

Python discrimina entre mayúsculas y minúsculas, de modo que con tipografías diferentes, tendremos variables diferentes.

In [ ]:
nombre1="pepe"
nombre2="Pepe"
# Comparamos si son iguales
print(nombre1==nombre2)

False

Ante una cadena de texto dada, podemos convertir en mayúsculas o minúsculas sus caracteres, con las funciones `upper()` y `lower()` respectivamente.

In [ ]:
universidad = "Universidad San Martin de Porres"
print(universidad)
# convertimos a  mayúsculas
print(universidad.upper())
print(universidad.lower())

Universidad San Martin de Porres
UNIVERSIDAD SAN MARTIN DE PORRES
universidad san martin de porres

### <font color='steelblue'>Contar </font>

Con la función `count()` se puede contar el número de veces que aparece un determinado carácter o conjunto de caracteres (siempre que estén todos en minúsculas o todos en mayúsculas).

In [ ]:
# número de 'u's minúsculas
print(universidad.count("u"))
# número de 'u's en total (convirtiendo todo a minúsculas previamente)
print(universidad.lower().count("u"))

0
1

### <font color='steelblue'>Separar y unir letras </font>

También podemos separar una cadena por letras con la función `list()`. El resultado es una lista, en la que los espacios quedan también registrados como `' '`.

In [ ]:
letras = list(universidad.upper())
print(letras)

['U', 'N', 'I', 'V', 'E', 'R', 'S', 'I', 'D', 'A', 'D', ' ', 'S', 'A', 'N', ' ', 'M', 'A', 'R', 'T', 'I', 'N', ' ', 'D', 'E', ' ', 'P', 'O', 'R', 'R', 'E', 'S']

Podemos volver a unirlas, especificando entre comillas el separador que queremos aplicar  `'carácter_separador'` y aplicándole la función `join()` a continuación. Si queremos unirlas sin más, utilizamos `''` sin espacios; si queremos unirlas con una barra baja, utilizamos `'_'`. Veamos algunos ejemplos

In [ ]:
# unimos las letras sin separación
print("".join(letras))

# unimos separando con guión bajo
print("_".join(letras))

UNIVERSIDAD SAN MARTIN DE PORRES
U_N_I_V_E_R_S_I_D_A_D_ _S_A_N_ _M_A_R_T_I_N_ _D_E_ _P_O_R_R_E_S

Por supuesto, podemos combinar distintas operaciones, y por ejemplo encadenar una unión de letras, conversión a minúsculas y separación de palabras (aprovechando que el espaciado entre palabras se conservó al separar las letras).

In [ ]:
print(letras)
print("_".join(letras).lower().split(" "))

['U', 'N', 'I', 'V', 'E', 'R', 'S', 'I', 'D', 'A', 'D', ' ', 'S', 'A', 'N', ' ', 'M', 'A', 'R', 'T', 'I', 'N', ' ', 'D', 'E', ' ', 'P', 'O', 'R', 'R', 'E', 'S']
['u_n_i_v_e_r_s_i_d_a_d_', '_s_a_n_', '_m_a_r_t_i_n_', '_d_e_', '_p_o_r_r_e_s']

Otra forma de separar los caracteres distintos que contiene una cadena de texto, incluidos los espacios, es a través de  `set()`. Esta función opera sobre las cadenas de texto, creando un set cuyos elementos son cada uno de los caracteres distintos contenidos en una cadena.

Por ejemplo, para obtener todos los caracteres distintos que tiene la cadena `universidad`, primero convertimos toda la cadena a mayúsculas (o minúsculas) y luego la convertimos en `set`:

In [ ]:
universidad = "Universidad San Martin de Porres"
caracteres = set(universidad.upper())
print(caracteres)

{' ', 'U', 'R', 'P', 'T', 'M', 'S', 'D', 'V', 'O', 'I', 'A', 'N', 'E'}